<app-media-form #formComponent></app-media-form>

<section>
  <mat-card>
    @if (infoState()) {
      <ng-container
        [ngTemplateOutlet]="descriptionText"
        [ngTemplateOutletContext]="{
          title: infoState()?.title,
          description: infoState()?.description
        }"
      ></ng-container>
    } @else {
      @defer {
        <mat-card-content>
          <mat-accordion>
            @for (year of mediaYears(); track year; let i = $index) {
              <mat-expansion-panel [expanded]="i === 0">
                <mat-expansion-panel-header>
                  <mat-panel-title> {{ year }} </mat-panel-title>
                </mat-expansion-panel-header>

                <app-media-table [year]="year"></app-media-table>
              </mat-expansion-panel>
            }
          </mat-accordion>

          <app-media-paginator></app-media-paginator>
        </mat-card-content>
      }
    }
  </mat-card>
</section>

<ng-template #descriptionText let-description="description" let-title="title">
  @if (title) {
    <mat-card-header>
      <h2 class="mat-title">{{ title }}</h2>
    </mat-card-header>
  }

  @if (description) {
    <mat-card-content>
      <h3>
        {{ description }}
      </h3>
    </mat-card-content>
  }
</ng-template>
